doctype html
html(ng-app='Player')
    head
        title Recognition game player
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        // build:css ./style/main.css
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/styles/main.css')
        // endbuild
    body#player.main(ng-controller='PlayerCtrl')
        .container
            .row
                .col-xs-12
                    img.img-responsive.center-block(src='/images/backgrounds/gutterlogo.jpg')
            .row(ng-if='vm.state === "awaitingname"')
                .col-xs-12
                    form.form(ng-submit='vm.onPlayerSubmit()')
                        h4.text-center To play, enter your initials below for the leaderboard. Try to recognise the images shown on the big screen and select an answer!
                        .form-group.text-center
                            input.form-control.initials-entry(type='text', ng-model='vm.form.name', maxlength=3, required, autofocus)
                        .form-group
                            input.btn.btn-primary.btn-lg.pull-right.play-button(type='submit', value='Play!')
            .row(ng-if='vm.state === "ready"')
                .col-xs-12.text-center
                    h1
                        | Waiting for the games to begin!
            .row(ng-if='vm.state === "starting"')
                .col-xs-12.text-center
                    h1
                        | Next game starts in {{ vm.countdowntime }}!
            .row(ng-if='vm.state === "started"')
                .col-xs-12
                    h1.text-center
                        | Choose!
                    .buttons(ng-repeat='guess in vm.question.guesses')
                        a.btn.btn-lg.btn-block.answer-button(
                        href='',
                        ng-disabled='!vm.allowGuesses',
                        ng-click='vm.onAnswerSelect(vm.question.questionIndex, $index)',
                        ng-class='{ "btn-default": vm.selectedAnswer !== $index, "btn-primary": vm.selectedAnswer === $index }') {{ guess }}
            .row(ng-if='vm.state === "finalscore"')
                .col-xs-12.text-center
                    h4 {{ vm.playerName }} your score for this game was:
                    h1 {{ vm.lastscore}}
            .row(ng-if='vm.state === "disconnected"')
                .col-xs-12
                    h1.text-center
                        | You have been disconnected :(

        // build:js ./scripts/libs.js
        script(src='/bower_components/angular/angular.js')
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/momentjs/moment.js')
        script(src='/socket.io/socket.io.js')
        // endbuild
        // build:js ./scripts/app.js
        script(src='/js/fastclick.js')
        script(src='/js/common/service/LogSvc.js')
        script(src='/js/player/main.js')
        script(src='/js/player/service/PlayerSvc.js')
        script(src='/js/player/controller/PlayerCtrl.js')
        // endbuild
